<!-- <ul class="user-list">
    <li *ngFor="let user of chatListUsers">
        {{ user.username }}
    </li>
</ul>
<div class="alert" alert-info.class="!loading" *ngIf='chatListUsers.length === 0'>
    {{ loading && chatListUsers.length === 0 ? 'Loading your chat list.' : 'No User Avilable to chat.'}}
</div> -->

<ul class="user-list">
  <div *ngFor="let user of chatListUsers">
    <li (click)="selectedUser(user)" [class.active]="isUserSelected(user.id)">
      {{ user.username }}
      <span [ngClass]="user.online === 'Y' ? 'online' : 'offline'"> </span> <br>
    </li>
  </div>
</ul>
<div class="alert" alert-info.class="!loading" *ngIf='chatListUsers.length === 0'>
  {{ loading && chatListUsers.length === 0 ? 'Loading your chat list.' : 'No User Avilable to chat.'}}
</div>
